@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: transparent;
}

.bg-static {
  background-image: url('/images/static.png');
  background-size: 128px 128px;
  background-color: #f8f5ec;
  background-attachment: fixed;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.fade-up {
  transform-origin: top;
  transform: translate3d(0, 40px, 0);
  visibility: hidden;
  display: block;
}

.inView .fade-up {
  visibility: visible;
  animation: fade_up 1.6s forwards calc(0.05s * var(--index)) ease-out;
}

@keyframes fade_up {
  from {
    transform: translate3d(0, 40px, 0%);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }

  to {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
}

.word {
  position: relative;
  line-height: 1;
  display: inline-block;
}

.letter-wrapper {
  position: relative;
  display: inline-block;
}
.letter-wrapper span {
  line-height: 1;
  display: inline-block;
}
.letter {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}
.inView .letter {
  animation: roll__back 0.6s calc(0.015s * var(--index));
}

.letter2 {
  position: absolute;
  left: 0;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}
.inView .letter2 {
  animation: roll__in 0.6s forwards calc(0.015s * var(--index));
}

/* ? */

@keyframes roll__in {
  from {
    transform-origin: top;
    transform: translate3d(0, 100%, 0) rotateX(-90deg);
    animation-timing-function: ease-in-out;
  }
  25% {
    transform-origin: top;
    transform: translate3d(0, 100%, 0) rotateX(-90deg);
    animation-timing-function: ease-in-out;
  }

  to {
    transform-origin: top;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
    animation-timing-function: ease-in-out;
  }
}

@keyframes roll__back {
  from {
    transform-origin: top;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
    animation-timing-function: ease-in-out;
  }
  25% {
    transform-origin: top;
    transform: translate3d(0, 20%, 0) rotateX(-20deg);
    animation-timing-function: ease-in-out;
  }

  to {
    transform-origin: bottom;
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
    animation-timing-function: ease-in-out;
  }
}
