@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: transparent;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.word {
  position: relative;
  display: inline-block;
}

.letter {
  display: inline-block;
  transform-origin: top;
  visibility: hidden;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.inView .letter {
  animation: letter__in 0.6s forwards calc(0.015s * var(--index));
}

@keyframes letter__in {
  from {
    visibility: visible;
    transform: translate3d(0, 100%, 0%) rotateX(-90deg);
    animation-timing-function: ease-in-out;
  }

  to {
    visibility: visible;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
    animation-timing-function: ease-in-out;
  }
}

.fade-up {
  transform-origin: top;
  transform: translate3d(0, 20px, 0);
}

.inView .fade-up {
  animation: fade__up 0.6s forwards calc(0.05s * var(--index)) ease-out;
}

@keyframes fade__up {
  from {
    transform: translate3d(0, 40px, 0%);
  }

  to {
    transform: translate3d(0, 0%, 0);
  }
}

/* 
.sentence {
  display: block;
}

.word {
  position: relative;
  display: inline-block;
  padding-bottom: 2%;
  margin-bottom: -2%;
}

.letter {
  will-change: transform;
  transform-style: perserve-3d;
  transform-origin: top;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
  display: inline-block;
  visibility: hidden;
}

.inView .letter {
  transition: 0.5s;
  transition-delay: calc(0.03s * var(--index));
  transform: translate3d(0, 0%, 0) rotateX(0deg);
  visibility: visible;
} */
